@CHARSET "UTF-8";

body {
	background: url(../img/admin/bg/bg-noise.png) repeat 50%;
}

.page-wrap {
	width: 980px;
	position: relative;
	margin:0 auto;
	padding: 5px 15px 25px;
	background-color: #fefefe;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
}

/*	FIXING PAGINATOR */
.pagination ul > li.current {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    color: #999;
    background-color: #F5F5F5;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    float: left;
    line-height: 38px;
    padding: 0 14px;
    text-decoration: none;
}