html,body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	font: .8em/ 1.3 Arial, sans-serif;
	display: table;
	height: 100%;
	width: 100%;
	text-align: right;	
	color: #3b3830;
  	background: url(../img/interface/bg/bg-body.jpg) repeat 0 0 #ece9e5;
}

#centered {
	width: 280px;
	color: #333;
	margin: 0 auto;
}

#centered h4 {
	text-align: left;
}


#wrapper {
	display: table-cell;
	vertical-align: middle;
}

.login-form {
	float: left;
	width: 300px;
	height: 138px;
	padding: 28px 0 0 0;	
	float: left;
	border: 1px solid #dedbd6;
	-webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25) inset;
       -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25) inset;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25) inset;
}
label {	
	font-size: 16px;
	font-weight: bold;
	float: left;
	line-height: 30px;
	width: 80px;
	color: #000;
}
.input input {
	float: left;
	width: 145px;
	margin-left: 0;
	margin-bottom: 10px;
	padding: 4px 6px;	
	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 4px 4px 4px 4px;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    font-weight: normal;
    vertical-align: middle;
}
label, .input input {
	margin: 5px 3px;	
}

div.submit {
	width: 300px;
	padding: 7px 0;
	text-align: center;
}
div.submit input {
	font-size: 20px;
    font-weight: bold;
    height: 40px;
    line-height: 1.6;
    width: 105px;
}
#centered .input {
	float: left;
}
#AdminLoginForm .error-message{
	position: absolute;
	top: 2%;
	left: 2%;
	widht: 400px;
	line-height: 50px;
	blackground: #ffaeae;
	/*border: 1px solid #f00; */
	text-align: center;
	opacity: 0.8;
}
.registration_ref {
	display: none;
	position: absolute;
	widht: 150px;
	top: 10px;
	rigt: 10px;
	line-height: 35px;
	background-color: $42aaff;
	border: 3px solid #1e90ff
}
.registration_ref a{
	color: #fff;
}
