article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:hover,
a:active {
  outline: 0;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

#map_canvas img {
  max-width: none;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

button,
input {
  *overflow: visible;
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* BODY COMMON */
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #3b3830;
  background: url(../img/interface/bg/bg-body.jpg) repeat 0 0 #ece9e5;
}

a {
  color: #0088cc;
  text-decoration: none;
}

a:hover {
  color: #005580;
  text-decoration: underline;
}

.header {
	position: relative;
	width: 100%;	
}
/* Заголовок */
.header .home-link {
	position: relative;
	width: 287px;
	margin: 30px auto 0;
	display: block;
}
	/* Счетчик количества объявлений */
	.b_count {
		float: left;
		margin: 6px 17px 0 0;
	}
	.b_count i {
		font-style: normal;
		display: inline-block;
		margin-right: 5px;
	}
	.b_count .num1 {font-size: 12px;}
	.b_count .num2 {font-size: 30px; font-weight: bold;}
	.b_count .num3 {font-size: 11px; font-family: 'Myriad Pro', 'Arial'; font-weight: bold; text-transform: uppercase; width:72px; line-height:13px; }
	.b_count .num3 span {font-size: 12px;}
	
.navbar-inner {
	position: relative;
	width: 1024px;
	margin: 21px auto 0;
}

/* top bar with search   */
.b_top_search {
	float: left;
	display: inline-block;
	width: 478px;
	height: 31px;
	overflow: hidden;
	line-height: 31px;
	background-color: #FFFFFF;
	border: 1px solid #d7d7d7;
	-webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
    *zoom: 1;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.065) inset;
       -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.065) inset;
            box-shadow: 0 2px 1px rgba(0, 0, 0, 0.065) inset;
}
	.b_top_search .q-search {
		width: 423px;
		height: 31px;
		padding: 0 10px;
		border: 0;
		font-size: 12px;
		color: #72706c;	/*  #72706c  /#3b3830 */
		display: inline-block;
	}
	.b_top_search .q-submit {
		display: inline-block;
		width: 31px;
		height:31px;
		border: none;
		background: url(../img/interface/btn/btn-search.png) no-repeat 50% #FFF;
		cursor: pointer;
	}
	/* Add ads button */
	.b_add-ads {
		float: left;		
	}
		.b_add-ads .add-btn {
			float: left;
			width: 192px;
			height: 44px;
			margin: -10px 0 0 23px;
			background: url(../img/interface/btn/btn-add-ads.png) no-repeat 0 0;
			color: #fff;
			font-family: 'Myriad Pro',Arial;
			font-weight: bold;
			text-align: center;
		}
		.b_add-ads .add-btn span { display:none; }

.navbar {
	display: block;
	position: relative;
	width: 100%;
	height: 62px;
}
/* Панель меню на главной странице с фильтрами объявлений по категориям */
.menu-filter-wrap {
	display: block;
	position: relative;
	width: 100%;
	height: 62px;
	border: 1px solid #dedbd6;
	border-width: 1px 0;
}
	.b_main-category-filter {
		position: relative;
		width: 1024px;
		height: 100%;
		margin: 0 auto;
	}
		.b_main-category-filter .li {
			margin: 0;
			height: 60px;
			width: 271px;
			float: left;
			list-style: none;
			padding: 0;
			line-height: 60px;
		}
		.b_main-category-filter .li.auto-category {
			padding-left: 15px;
			width: 259px;
		}
			.b_main-category-filter .li .link {
				float: left;
				text-transform: uppercase;
				text-decoration: none;
				color: #3b3830;
				font-weight: bold;
				font-family: 'Myriad Pro', Arial;
				line-height: 70px;
			}
			.b_main-category-filter .li .link:hover .icon {
				opacity: 0.8;
			}
		
[class^="big_icon-"],
[class*=" big_icon-"] {
  display: inline-block;
  width: 81px;
  height: 60px;
  *margin-right: .3em;
  vertical-align: top;
  background-image: url("../img/interface/btn/obyava-sprite.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

[class^="big_icon-"]:last-child,
[class*=" big_icon-"]:last-child {
  *margin-left: 0;
}
	.big_icon-immovables {
		background-position: 13px 6px;
	}
	.big_icon-auto {
		width: 87px;
		background-position: 0 -55px;
	}
	.big_icon-other {
		width: 72px;	
		background-position: 0 -122px;
	}
	.big_icon-organization {
		height: 50px;
		width: 73px;
		background-position: 0 -192px;
	}

.right-menu {
	float: right;
	width: 250px;
	min-height: 470px;
	margin: 25px 25px 0 0;
	padding: 10px;	
	border: 1px solid #dedbd6;
	border-radius: 15px;
}
	.right-menu h3.title {
		float: left;
		width: 100%;
		height: 50px;
		margin-top: 0;
		line-height: 58px;
		text-transform: uppercase;
		font-family: 'Myriad Pro',Arial;
		font-size: 14px;		
	}
	
.column {
	float: left;
	min-height: 1000px;
	width: 254px;}
/*	stayle for one ad on frontend */
.b_one-ads {
	float: left;
	width: 215px;
	/*min-height: 170px;*/
	margin: 10px;
	padding: 7px;
	background-color: #FFF;
	border: 1px solid #e9e9e9;
	-webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
}
	.b_one-ads .category {
		text-transform: uppercase;
		font-weight: normal;
		margin:0;
		font-family: 'Myriad Pro',Arial;
		font-size: 12px;
	}
	.b_one-ads .b_one-ads_ads-text {margin: 4px 0 7px 0;}
	.b_one-ads .b_one-ads_det, .b_one-ads .b_one-ads_share {
		display: block;
		padding: 0;
		margin: 0;
		font-size: 12px;		
	}
	.b_one-ads_det .li, .b_one-ads_share .li {
		display: inline-block;
		padding: 0;
		margin: 0 0 0 0;
		list-style: none;
	}
	.b_one-ads_det .hasImages {
	
	}
	.b_one-ads_det .hasPhone {

	}
	.b_one-ads_share .created-time {
		display: inline-block;
	}
	.b_one-ads_share .soc-share {
		display: inline-block;
		float: right;
		margin: 0;
		padding: 0;		
	}
	
	.b_one-ads .b_one-ads_share {
		margin: 5px 0 0;
	}
	.soc-share > .li i {opacity: 0.5;}
	.soc-share > .li a:hover i {opacity: 0.9;} 
	.soc-share > .eye-count {padding-right: 5px;}
	
[class^="sml_icon-"],
[class*=" sml_icon-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  *margin-right: .3em;
  vertical-align: top;
  background-image: url("../img/interface/btn/obyava-sprite.png");
  background-position: right top;
  background-repeat: no-repeat;
}
[class^="sml_icon-"]:last-child,
[class*=" sml_icon-"]:last-child {
  *margin-left: 0;
}
.sml_icon-img {background-position: -2px -281px;}
.sml_icon-location {background-position: -20px -281px;}
.sml_icon-phone {background-position: -38px -281px;}
.sml_icon-time {background-position: -164px -281px;}
.sml_icon-tw {background-position: -82px -280px;}
.sml_icon-vk {background-position: -103px -280px;}
.sml_icon-fb {background-position: -123px -280px;}
.sml_icon-eye {background-position: -144px -280px;}



/*	LIST OF ADS ON INDEX PAGE */
.index-das-wrap {
	position: relative;
	margin: 0 auto;	
	min-height: 100%;	
}


/*	RESPONSIVE DESIGN SYKA	*/
@media (max-width: 1000px) {
	.index-das-wrap {width: 980px; }
}

@media (max-width: 1920px) {
	.index-das-wrap {width: 1757px; }	/* одна маленька об*ява в ширину 251рх */
}
@media (max-width: 1600px) {
	.index-das-wrap {width: 1004px; }
}
@media (max-width: 1440px) {
	.index-das-wrap {width: 1004px; }
}
@media (max-width: 1336px) {
	.index-das-wrap {width: 1004px; }
}
@media (max-width: 1024px) {
	.index-das-wrap {width: 753px; }
}
@media (max-width: 800px) {
	.index-das-wrap {width: 502px; }
}
@media (max-width: 480px) {
	.index-das-wrap {width: 251px; }
}
/*
@media (min-width: 1020px) {
	.right-menu {display: none;} /* TODO: коли розмір монітора зменшується, то меню з підприємствами треба кудись винести */
}
*/

/*
@media (min-width: 768px) and (max-width: 979px) {
	
}
@media (max-width: 480px) {

}
@media (max-width: 767px) {

}
@media (min-width: 1200px) {
	
}
*/